AI-Recruitment-Workflow/workflow.json
{
  "name": "AI Recruitment & Resume Screening Automation",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1amhAIxRl7Mjn7AGSLyWPl9NVzWQMBMNCD3W2pjZqNd8"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1amhAIxRl7Mjn7AGSLyWPl9NVzWQMBMNCD3W2pjZqNd8/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "b0cd4a5c-96b7-4bdc-a87b-48482e78ddd3",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        128
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "cy1XoGryx9cVWaR4",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.resume_link }}",
          "mode": "url"
        },
        "options": {}
      },
      "id": "4a932e34-99e7-45eb-b562-178dee4baf9e",
      "name": "Download Resume",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1248,
        128
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "EwHCi0sZBQWBXmJk",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "b81c3827-4836-448a-a7b9-5e459a58ed17",
      "name": "Extract Resume Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -1008,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1/models/gemini-2.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-goog-api-key",
              "value": "AIzaSyCjX1MLcm0CZrCmmNPWSDxqnlvIKur3TAA"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ \n{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Analyze this resume and return ONLY raw JSON without markdown or explanation.\\n\\nFormat:\\n{\\\"candidate_name\\\":\\\"\\\",\\\"candidate_score\\\":0,\\\"skills\\\":[],\\\"decision\\\":\\\"\\\"}\\n\\nRules:\\n- Extract the EXACT candidate name\\n- If no name found, set candidate_name to Unknown\\n- Do NOT invent or guess any name\\n- candidate_score between 0 and 100\\n- Technical skills only\\n- decision: Shortlisted or Rejected\\n- Return ONLY valid JSON\\n\\nResume:\\n\" + $node[\"Extract Resume Text\"].json[\"text\"]\n        }\n      ]\n    }\n  ]\n}\n}}",
        "options": {}
      },
      "id": "3833cc76-d88f-4531-8cec-f5ba6755cb1e",
      "name": "Gemini Resume Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -752,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n\n  const response =\n    item.json.candidates[0]\n    .content.parts[0].text;\n\n  const cleanResponse = response\n    .replace(/```json/g, '')\n    .replace(/```/g, '')\n    .trim();\n\n  const parsed = JSON.parse(cleanResponse);\n\n  return {\n    json: {\n      candidate_name: parsed.candidate_name,\n      candidate_score: parsed.candidate_score,\n      skills: parsed.skills,\n      decision: parsed.decision\n    }\n  };\n\n});"
      },
      "id": "c9b2d31f-7169-4398-a8fd-7ac71f8a320c",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -496,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.candidate_score }}",
              "operation": "largerEqual",
              "value2": 75
            }
          ]
        }
      },
      "id": "22f1cdcb-c946-4369-852f-c7b5d0822a25",
      "name": "Check Candidate Score",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -256,
        128
      ]
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Google Sheets Trigger\"].json[\"email\"]}}",
        "subject": "Interview Invitation",
        "message": "={{ ` <div style=\"font-family: Arial, sans-serif; background-color:#f4f6f9; padding:40px;\"> <div style=\"max-width:600px; margin:auto; background:white; border-radius:12px; overflow:hidden; box-shadow:0 4px 12px rgba(0,0,0,0.1);\"> <div style=\"background:#2563eb; color:white; padding:25px; text-align:center;\"> <h1 style=\"margin:0; font-size:30px;\">Interview Invitation</h1> </div> <div style=\"padding:35px; color:#333; line-height:1.8;\"> <p style=\"font-size:16px;\"> Dear <strong>${$('Parse Gemini Response').first().json.candidate_name}</strong>, </p> <p> Congratulations! We are pleased to inform you that you have been shortlisted for the next stage of our recruitment process. </p> <p> After carefully reviewing your resume and qualifications, we believe your profile aligns well with our requirements and would like to invite you for an interview discussion. </p> <div style=\"background:#f8fafc; border-left:5px solid #2563eb; padding:20px; margin:25px 0; border-radius:8px;\"> <h3 style=\"margin-top:0; color:#2563eb;\">Interview Details</h3> <p><strong>Status:</strong> Shortlisted</p> <p><strong>Mode:</strong> Google Meet</p> <p><strong>Duration:</strong> 30 Minutes</p> <p> <strong>Interview Time:</strong><br> ${new Date($node[\"Free Time Slot\"].json[\"interview_start\"]).toLocaleString()} </p> </div> <p> Please ensure your availability for the scheduled interview. The Google Meet link has been attached to your calendar invitation. </p> <p> We appreciate your interest in joining our organization and look forward to speaking with you. </p> <br> <p> Best Regards,<br> <strong>HR Team</strong><br> AI Recruitment System </p> </div> <div style=\"background:#f1f5f9; text-align:center; padding:15px; font-size:12px; color:#666;\"> © 2026 AI Recruitment Automation </div> </div> </div> ` }}",
        "options": {}
      },
      "id": "3c2ec5c8-fd58-4074-9134-750431c851f3",
      "name": "Send Shortlist Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        880,
        -32
      ],
      "webhookId": "2af9de71-e501-4d6f-94b7-982565795f05",
      "credentials": {
        "gmailOAuth2": {
          "id": "ERAzSEkA9MSBIjW3",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "hr-team",
          "mode": "name"
        },
        "text": "=🚀 New Interview Scheduled\n\n👤 Candidate: {{$node[\"Google Sheets Trigger\"].json[\"candidate_name\"]}}\n\n📧 Email: {{$node[\"Google Sheets Trigger\"].json[\"email\"]}}\n\n🕒 Interview Start:\n{{$node[\"Free Time Slot\"].json[\"interview_start\"]}}\n\n🔗 Google Meet:\n{{$node[\"Schedule Interview in HR Calender\"].json[\"hangoutLink\"]}}\n\n📄 Resume:\n{{$node[\"Google Sheets Trigger\"].json[\"resume_link\"]}}",
        "otherOptions": {}
      },
      "id": "935aca77-7b61-4a34-b3a3-e2c3ff39d457",
      "name": "Notify HR",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [
        1088,
        -32
      ],
      "webhookId": "9447dd57-b7e4-4b4f-ab37-b0f5edc27595",
      "credentials": {
        "slackApi": {
          "id": "MjnRUI8F5R577gf9",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO candidates(name, score, skills, decision)\nVALUES (\n'{{ $json.candidate_name }}',\n{{ $json.candidate_score }},\n'{{ $json.skills.join(\", \") }}',\n'{{ $json.decision }}'\n);",
        "options": {}
      },
      "id": "75804775-a326-4e12-a0bb-8d3fc73f83a5",
      "name": "Store Candidate Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        48,
        -32
      ],
      "credentials": {
        "postgres": {
          "id": "z7cJDd7TvcRqkd8t",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "tiwariayush7487@gmail.com",
        "subject": "Application Status",
        "message": "Thank you for applying. We will keep your profile for future opportunities.",
        "options": {}
      },
      "id": "4c68405c-f2d8-46fb-a53f-854885401e4a",
      "name": "Send Rejection Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        48,
        240
      ],
      "webhookId": "f481cf77-a148-4103-a0de-5934c86cc259",
      "credentials": {
        "gmailOAuth2": {
          "id": "ERAzSEkA9MSBIjW3",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "tiwariayush7487@gmail.com",
          "mode": "list",
          "cachedResultName": "tiwariayush7487@gmail.com"
        },
        "timeMin": "={{ $now.plus({ days: 1 }).toISO() }}",
        "timeMax": "={{ $now.plus({ days: 7 }).toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        256,
        -32
      ],
      "id": "bcd7e640-4306-4ab8-b5eb-c132f0d28278",
      "name": "Get availability in a calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3GQtm2aAKDD6V9Js",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const isAvailable = items[0].json.available;\n\nif (!isAvailable) {\n  return [\n    {\n      json: {\n        status: \"busy\",\n        message: \"No free slot available\"\n      }\n    }\n  ];\n}\n\n// If available, create a slot manually\nconst start = new Date();\nstart.setDate(start.getDate() + 1);\nstart.setHours(15, 0, 0);\n\nconst end = new Date(start);\nend.setHours(16, 0, 0);\n\nreturn [\n  {\n    json: {\n      candidate_name: $('Parse Gemini Response').first().json.candidate_name,\n\n      email: $('Google Sheets Trigger').first().json.email,\n\n      interview_start: start.toISOString(),\n\n      interview_end: end.toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        -32
      ],
      "id": "774f990a-30b7-4f3d-a449-c9f473a8cad3",
      "name": "Free Time Slot"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "tiwariayush7487@gmail.com",
          "mode": "list",
          "cachedResultName": "tiwariayush7487@gmail.com"
        },
        "start": "={{$json.interview_start}}",
        "end": "={{$json.interview_end}}",
        "additionalFields": {
          "attendees": [
            "={{$json.email}}"
          ],
          "conferenceDataUi": {
            "conferenceDataValues": {
              "conferenceSolution": "hangoutsMeet"
            }
          },
          "description": "=AI Recruitment Interview Round\n\nCandidate: {{$json.candidate_name}}\n\nPlease join the meeting on time.\n\nHR Team",
          "sendUpdates": "all",
          "summary": "HR Interview"
        }
      },
      "id": "7c008c9d-3f57-4b2e-b0ad-6bbf00fe97f2",
      "name": "Schedule Interview in HR Calender",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1,
      "position": [
        672,
        -32
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "3GQtm2aAKDD6V9Js",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$node[\"Google Sheets Trigger\"].json[\"email\"]}}",
        "subject": "Interview Feedback Update",
        "message": "=<div style=\"font-family: Arial, sans-serif; background-color:#f4f6f9; padding:40px;\"> <div style=\"max-width:650px; margin:auto; background:white; border-radius:18px; overflow:hidden; box-shadow:0 8px 25px rgba(0,0,0,0.12);\"> <!-- Header --> <div style=\"background:linear-gradient(135deg,#4f46e5,#7c3aed); padding:35px; text-align:center;\"> <h1 style=\"color:white; margin:0; font-size:32px; letter-spacing:0.5px;\"> Interview Feedback Update </h1> <p style=\"color:#e0e7ff; margin-top:10px; font-size:16px;\"> Recruitment & Hiring Team </p> </div> <!-- Body --> <div style=\"padding:45px; color:#374151; line-height:1.9;\"> <h2 style=\"margin-top:0; color:#111827; font-size:24px;\"> Hello {{$node[\"Google Sheets Trigger\"].json[\"candidate_name\"]}}, </h2> <p style=\"font-size:17px;\"> Thank you for attending the interview process with us. </p> <p style=\"font-size:17px;\"> Our HR team is currently reviewing your interview performance, technical evaluation, and overall feedback. </p> <!-- Highlight Box --> <div style=\"background:#eef2ff; border-left:6px solid #4f46e5; padding:22px; border-radius:12px; margin:30px 0;\"> <p style=\"margin:0; font-size:16px; color:#374151;\"> 📌 You will receive an update regarding the next steps within the next few days. </p> </div> <p style=\"font-size:17px;\"> We sincerely appreciate your patience, time, and interest in joining our organization. </p> <!-- Info Card --> <div style=\"background:#f9fafb; border:1px solid #e5e7eb; border-radius:12px; padding:20px; margin-top:30px;\"> <p style=\"margin:0; font-size:15px; color:#6b7280;\"> <strong>Candidate Email:</strong> {{$node[\"Google Sheets Trigger\"].json[\"email\"]}} </p> </div> <br> <!-- Signature --> <div style=\"margin-top:35px;\"> <p style=\"margin-bottom:5px; font-size:17px;\"> Regards, </p> <h3 style=\"margin-top:0; color:#4f46e5;\"> HR Team </h3> </div> </div> <!-- Footer --> <div style=\"background:#111827; padding:22px; text-align:center;\"> <p style=\"margin:0; color:#d1d5db; font-size:13px;\"> © 2026 AI Recruitment Automation System </p> </div> </div> </div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1504,
        -32
      ],
      "id": "e5cfda8a-4188-4c5d-bca2-4d8a2b9bc332",
      "name": "Send a message",
      "webhookId": "e99fd235-45af-4bd9-9717-13d657cc16ca",
      "credentials": {
        "gmailOAuth2": {
          "id": "ERAzSEkA9MSBIjW3",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1296,
        -160
      ],
      "id": "5c54c24c-4f09-4eb8-b8f7-ed5837cef280",
      "name": "Wait1",
      "webhookId": "b09fbe7d-0d9e-45a3-8bff-571d74e86bfe"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Download Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Resume": {
      "main": [
        [
          {
            "node": "Extract Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume Text": {
      "main": [
        [
          {
            "node": "Gemini Resume Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Resume Analysis": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Check Candidate Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Candidate Score": {
      "main": [
        [
          {
            "node": "Store Candidate Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Rejection Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Shortlist Email": {
      "main": [
        [
          {
            "node": "Notify HR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify HR": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get availability in a calendar": {
      "main": [
        [
          {
            "node": "Free Time Slot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Free Time Slot": {
      "main": [
        [
          {
            "node": "Schedule Interview in HR Calender",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Interview in HR Calender": {
      "main": [
        [
          {
            "node": "Send Shortlist Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Candidate Data": {
      "main": [
        [
          {
            "node": "Get availability in a calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "3ca84e4b-543e-4f13-8461-4ea29fd77fde",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "367938a19a0da95a3326669b98eb15037ba6fac1105089aa3a2f92227f2d00d3"
  },
  "id": "xdCf13Gs6SQYlMHz",
  "tags": []
}
